<div class="container">
    <h2>Attribute directives - ngClass</h2>
    <div class="row">
        <div class="col-md-12">
            <p [ngClass]="{
                red:highlightColor ==='red',
                'green-color':highlightColor ==='green',
                blue:highlightColor ==='blue'
            }">Click any button to highlight this text</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-danger" (click)="highlight('red')">Red</button>
            <button class="btn btn-success" (click)="highlight('green')">Success</button>
            <button class="btn btn-primary" (click)="highlight('blue')">Blue</button>
        </div>
    </div>




    <h2>Attribute directives - ngStyle</h2>
    <div class="row">
        <div class="col-md-12">
            <p [ngStyle]="{
                color:isStyleApplied === true ? 'white' :'black',
                backgroundColor : isStyleApplied? 'green' : 'white'
            }">Click the button to toggle the style.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <button class="btn btn-primary" (click)="toggleStyle()">Toggle Style</button>
        </div>
    </div>

</div>