<router-outlet></router-outlet>


<div class="panel-container">
    <div class="panel">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="Data Binding">
                <ng-template ngbPanelContent>
                    Data binding is used to syncronize view with the model and vice versa. <br>
                    There are two types of data binding in angular. They are <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="One way data binding"
                            (click)="goToRoute('one-way-data-binding')">
                    </div>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="Two way data binding"
                            (click)="goToRoute('two-way-data-binding')">
                    </div>


                </ng-template>
            </ngb-panel>


            <ngb-panel id="static-2" title="Directives">
                <ng-template ngbPanelContent>
                    Directives are used to attach a specific behavious to an object in the View.
                    It starts with ng which stands for angular.

                    <br> The directives are of three types

                    <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="components"
                            (click)="goToRoute('components')">
                    </div>

                    <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="structural directives"
                            (click)="goToRoute('structual-directives')">
                    </div>

                    <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="attribute directives"
                            (click)="goToRoute('attribute-directives')">
                    </div>




                </ng-template>
            </ngb-panel>

            <ngb-panel id="static-3" title="Dependency Injection">
                <ng-template ngbPanelContent>
                    Dependency injection is simply put the process of giving a function , its instance variables.
                    Instead of hardcoding the values ourselves, we dynamically give values to the <br> instance
                    variables using the values from a function call
                    or from a constructor etc.
                    <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="Dependency Injection"
                            (click)="goToRoute('dependency-injection')">
                    </div>

                </ng-template>
            </ngb-panel>

            <ngb-panel id="static-4" title="Services">
                <ng-template ngbPanelContent>
                    Services are functions which are shared among many components. This reduces code redundancy and
                    promotes reusability and maintainability.

                    <br> The services will have a single well defined function and it is different from the functions in
                    components <br>
                    as they use dependency injection.

                    <br>

                    <div class="btn">
                        <input type="button" class="btn btn-success" value="services" (click)="goToRoute('services')">
                    </div>

                </ng-template>
            </ngb-panel>

        </ngb-accordion>
    </div>
</div>